# AML / notebooks
.ipynb_aml_checkpoints/
.amlignore.amltmp
*.amltmp

# Python
__pycache__/
*.pyc
.venv*/
.env

# Datasets / artifacts
photos/
dataset_yolo/
runs/

# Docker
*.tar

# Frontend
node_modules/
dist/
build/
